<%- include ../_layouts/adminHeader %>

<<<<<<< HEAD
<<<<<<< HEAD
    <h2 class="page-title">Chỉnh sửa sản phẩm</h2>
    <a href="/admin/products" class="btn btn-primary">Quay lại danh sách sản phẩm</a>
=======
    <h2 class="page-title">Edit product</h2>
    <a href="/admin/products" class="btn btn-primary">Back to all products</a>
>>>>>>> 92f27412605fe953faa731fdeeb93fd817e54ee4
=======
    <h2 class="page-title">Edit product</h2>
    <a href="/admin/products" class="btn btn-primary">Back to all products</a>
>>>>>>> parent of 97147b3... VN

    <form method="POST" action="/admin/products/edit-product/<%= id %>" enctype="multipart/form-data">

        <div class="form-group">
<<<<<<< HEAD
<<<<<<< HEAD
            <label for="">Tên sản phẩm</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Tên sản phẩm">
        </div>

        <div class="form-group">
            <label for="">Mô tả</label>
            <textarea class="form-control" name="desc" cols="30" rows="10" placeholder="Mô tả">
=======
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
        </div>

        <div class="form-group">
            <label for="">Description</label>
            <textarea class="form-control" name="desc" cols="30" rows="10" placeholder="Description">
>>>>>>> 92f27412605fe953faa731fdeeb93fd817e54ee4
=======
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
        </div>

        <div class="form-group">
            <label for="">Description</label>
            <textarea class="form-control" name="desc" cols="30" rows="10" placeholder="Description">
>>>>>>> parent of 97147b3... VN
                <%= desc %>
            </textarea>
        </div>

        <div class="form-group">
<<<<<<< HEAD
<<<<<<< HEAD
            <label for="">Loại sản phẩm</label>
=======
            <label for="">Category</label>
>>>>>>> 92f27412605fe953faa731fdeeb93fd817e54ee4
=======
            <label for="">Category</label>
>>>>>>> parent of 97147b3... VN
            <select name="category" class="form-control">
                <% categories.forEach(function(cat){ %>
                    <option value="<%= cat.slug %>" 
                        <% if (cat.slug == category) { %>
                        selected = "selected"
                        <% } %>
                            >
                            <%= cat.title %>
                    </option>
                    <%  }); %>
            </select>
        </div>

        <div class="form-group">
<<<<<<< HEAD
<<<<<<< HEAD
            <label for="">Giá tiền</label>
            <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="Giá tiền">
        </div>

        <div class="form-group">
            <label for="">Ảnh hiện hành</label>
=======
            <label for="">Price</label>
            <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="Price">
        </div>

        <div class="form-group">
            <label for="">Current image</label>
>>>>>>> 92f27412605fe953faa731fdeeb93fd817e54ee4
=======
            <label for="">Price</label>
            <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="Price">
        </div>

        <div class="form-group">
            <label for="">Current image</label>
>>>>>>> parent of 97147b3... VN
            <p>
            <% if (image == "") { %>
                <img id="noimage" src="/images/noimage.jpg" alt="">
                <% } else {%>
                    <img id="noimage" src="/product_images/<%= id%>/<%=image %>" alt="">
                    <% } %>
            </p>
        </div>

        <div class="form-group">
<<<<<<< HEAD
<<<<<<< HEAD
            <label for="">Tải ảnh lên</label>
=======
            <label for="">Upload image</label>
>>>>>>> 92f27412605fe953faa731fdeeb93fd817e54ee4
=======
            <label for="">Upload image</label>
>>>>>>> parent of 97147b3... VN
            <input type="file" class="form-control" name="image" id="img">
            <img src="#" id="imgPreview" alt="">
        </div>

        <input type="hidden" name="pimage" value="<%= image %>">
        <button class="btn btn-default">Submit</button>
    </form>

    <h3 class="page-header">Gallery</h3>

    <ul class="gallery">
        <% galleryImages.forEach(function(image) { %>
            <% if (image != "thumbs") { %>
                <li>
                    <img src="/product_images/<%= id %>/gallery/thumbs/<%= image %>" alt="">&nbsp;
<<<<<<< HEAD
                    <a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>? id = <%= id %>">delete</a>
=======
                    <a class="confirmDeletion" href="admin/products/delete-image/<%= image %>? id = <%= id %>">delete</a>
>>>>>>> 92f27412605fe953faa731fdeeb93fd817e54ee4
                </li>
                <% } %>
        <%  }); %>
    </ul>

    <br>
    <br>
    <form action="/admin/products/product-gallery/<%= id%>" method="POST" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
        <div class="fallback">
            <input type="file" name="file" multiple>
            <input type="submit" value="Upload">
        </div>
    </form>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#imgPreview").attr('src', e.target.result).width(100).height(100);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#img").change(function () {
            readURL(this);
        });

        // Dropzone

        Dropzone.options.dropzoneForm = {
            acceptedFiles: "image/*",
            init: function () {
                this.on("queuecomplete", function (file) {
                    setTimeout(function () {
                        location.reload()
                    }, 1000);
                });
            }
        }
    </script>
    <%- include ../_layouts/adminFooter %>