<% include layouts/header2 %>

    <h1 class="page-header">
        <%= p.title%>
    </h1>
    <br>
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <img class="spi" src="/productImages/<%= p.id%>/<%= p.image %>" alt="">
            <br>
        </div>
        <div class="col-xs-12 col-md-7">
            <p>
                <%= p.desc %>
            </p>
            <p>
                <h5><%= parseFloat(p.price).toFixed(2) %> VND </h5>
            </p>
                <% if(loggedIn) { %>
                    <p>
                            <form action="/cart/add/<%= p.slug %>"><input class="btn btn-success btn-sm" type="submit" value="Thêm vào giỏ hàng"></form>
                        <!-- <a href="/cart/add/<%= p.slug %>">Thêm vào giỏ hàng</a> -->
                    </p>

                    <% } else {%>
                        <p>
                            Để mua sản phẩm xin đăng nhập.
                        </p>
                    <% } %>

            
        </div>

        <div class="col-xs-12">
            <ul class="gallery">
                <% galleryImages.forEach(function (image) { %>

                    <% if(image !="thumbs") { %>
                        <li>
                            <a data-fancybox="gallery" href="/productImages/<%= p.id %>/gallery/<%= image%>">
                                <img class="pimage" src="/productImages/<%= p.id %>/gallery/<%= image%>" alt="">
                            </a>
                        </li>
                        <% } %>

                            <% }); %>

            </ul>
        </div>
    </div>

    <% include layouts/footer2 %>